<html>
<head>
    <title><%=blocks.title%></title>

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/cerulean.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/common.js"></script>
</head>
<body>
<header>
    <%-partial('partials/header')%>
</header>
<section class="container">
    <%-body -%>
</section>
<footer>
    <%-partial('partials/footer')%>
</footer>

<%-partial('_messages')%>
</body>
</html>